#.vscode/
__pycache__/
venv/
*.pyc
.env
*.log
Backups.zip
Ticker_lists.xlsx
time_logs.xlsx
.debug_variables/
*.bat
profiles/
assets/
outputs/
variabile_debug.pkl
debug_notebook.ipynb
.qodo
experiments.ipynb